.h1{
    text-align: center;
    background-color: cyan;
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
  margin-bottom: 20px;
  border: 0cqmax;
}

.fieldset{
    border: 50px;
    text-align: justify;
    background-color: chocolate;
    color: white;

}
.p{
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
text-align: justify;
background-color: rgb(1, 0, 0);
color: rgb(240, 239, 239);

}

body{
    background-image: url(../2024-10-30/img/pexels-fabianwiktor-994605.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}   